.Hour {
    width: 100%;
    height: calc(100vh / 30);
    border-bottom: 1px solid black;
}

.Hour.class:hover {
    cursor: not-allowed;
}

.Hour:hover:not(.class) {
    cursor: pointer;
}

.Hour:first-of-type {
    border-top: 1px solid black;
}

.Hour.notAvailable {
    background-color: gray;
}

.Hour.notAvailable:hover {
    background-color: lightgreen;
}

.Hour.isAvailable {
    background-color: green;
}

.Hour.isAvailable:hover {
    background-color: lightgray;
}

.Hour.class {
    background-color: blue;
}

.Hour.showTime::before {
    content: attr(data-hourindex)
}
