.Week {
    display: flex;
    height: 100%;
}

.addClass > * {
    margin-right: 5px;
}

.key {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

.key > * {
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
}

.key .notAvailable {
    background-color: gray;
}

.key .isAvailable {
    background-color: green;
}

.key .class {
    color: white;
    background-color: blue;
}
